body{
    background-image: url("../img/tlo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
}


#selectComp{
    border-top:4px solid white;
    margin-top: 10px;
    margin-bottom: 5px;
}
table#summaryComp{
    width: 50%;
}
table#summaryComp,
table#summaryComp td
{
    border:1px solid white ;
    border-collapse:collapse ;
}