body{
    background-image: url("../img/tlo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
}


#selectComp{
    border-top:4px solid white;
    margin-top: 10px;
    margin-bottom: 5px;
}